# Storage Proof Configuration
VITE_TOKEN_CONTRACT_ADDRESS=0x3c297192e623cADFABd9d875331Ca9e9b4F39958
VITE_CHAIN_ID=85432
VITE_MAPPING_SLOT=7
VITE_BLOCK_NUMBER=26093392

# RPC Configuration
VITE_RPC_URL=