# Storage Proof Configuration
VITE_CONTRACT_ADDRESS=0xC18360217D8F7Ab5e7c516566761Ea12Ce7F9D72
VITE_MAPPING_SLOT=7
VITE_BLOCK_NUMBER=22540632

# RPC Configuration
VITE_RPC_URL=https://mainnet.infura.io/v3/YOUR_PROJECT_ID